@import "mixins";
@import "helpers";

.book-tile {
  @extend %flex;
  @extend %border-box;

  background: #fff;
  border: 1px solid #efefef;
  border-radius: 3px;
  font-size: .875rem; // 14px
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em 0;
  padding: 2em;
  width: 100%;

  @include screen-medium {
    flex-direction: row;
  }

  @include screen-big {
    width: 49%;
  }

  &__cover {
    @extend %border-box;

    background: #efefef;
    box-shadow: -1px 1px 0 #ccc,
                -2px 2px 0 #ccc,
                -3px 3px 0 #ccc,
                -4px 4px 0 #ccc,
                -5px 5px 0 #ccc;
    margin: 0 3em 0 0;
    max-width: 100%;
    width: 100px;
  }

  &__details {
    @include screen-medium {
      width: calc(100% - 100px);
    }

    @include screen-big {
      width: auto;
    }
  }

  &__title {
    @extend %bold;
    @extend %block;
  }
  &__author-line {
    @extend %narrow;
    @extend %block;
  }

  &__genre {
    @extend %italic;
    @extend %narrow;

    display: block;
    margin-top: 1em;
  }
  &__publication {
    @extend %italic;
    @extend %narrow;
    display: block;
  }

}
