@import "mixins";

.books-list {
  padding: 1em;

  @include screen-big {
    margin: 0 auto;
    width: 1000px;
  }

  &__heading {
    margin: 0;
    text-transform: uppercase;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include screen-big {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

}
