.book-tile {
  @extend %border-box;
  @extend %flex;

  background: #fff;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-shadow: -2px 2px 5px #fbfbfb;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: .875rem; // 14px
  margin: 1em 0;
  padding: 2em;
  width: 100%;

  @include screen-medium {
    flex-direction: row;
  }

  @include screen-big {
    width: 49%;
  }

  &__cover {
    @extend %border-box;

    background: #efefef;
    box-shadow: -1px 1px 0 #ccc,
                -2px 2px 0 #ccc,
                -3px 3px 0 #ccc,
                -4px 4px 0 #ccc,
                -5px 5px 0 #ccc;
    margin: 0 3em 0 0;
    max-width: 100%;
    min-height: 150px;
    width: 100px;
  }

  &__details {
    @include screen-medium {
      width: calc(100% - 100px);
    }

    @include screen-big {
      width: auto;
    }
  }

  &__title {
    @extend %block;
    @extend %bold;
  }

  &__author-line {
    @extend %block;
    @extend %narrow;

    margin: .5em 0 0;

    &--male {
      color: #3498db;
    }
    &--female {
      color: #9b59b6;
    }
  }

  &__tag {
    @extend %inline-block;
    @extend %narrow;

    background: #b3b3b3;
    background: rgba(0,0,0,.3);
    margin-top: 1em;
    padding: .5em;
  }

  // Modifier: Indicate Books Published on Halloween
  &--halloween {
    @extend %relative;

    background: #2f2f51;
    color: #fff;

    &:after {
      @extend %absolute;

      background: #545479;
      border-radius: 5px 0 5px 0;
      bottom: 0;
      color: #fff;
      content: "Published on halloween!";
      padding: 1em;
      right: 0;
    }
  }

  // Modifier: Indicate Books Published on Halloween
  &--financial {
    @extend %relative;

    background: #2b455c;
    color: #fff;

    &:after {
      @extend %absolute;

      background: #315472;
      border-radius: 5px 0 5px 0;
      bottom: 0;
      color: #fff;
      content: "Published on the Last Friday of the month!";
      padding: 1em;
      right: 0;
    }
  }


}
