//
// Placeholder selectors like `%bold` do not land in the output file
//
// They are useful though to produce optimised CSS code and ease development
//
// Useful References:
// http://thesassway.com/intermediate/understanding-placeholder-selectors
//
//
// Important Note:
//
//   Placeholder selectors don't work well with media queries. Things like
//
//     @include screen-big {
//       @extend %bold;
//     }
//
//   Will NOT work!

%absolute {
  position: absolute;
}

%block {
  display: block;
}

%bold {
  font-weight: 500;
}

%border-box {
  box-sizing: border-box;
}

%capitalized {
  text-transform: capitalize;
}

%center-aligned {
  text-align: center;
}

%flex {
  display: flex;
}

%inline-block {
  display: inline-block;
}

%italic {
  font-style: italic;
}

%narrow {
  font-weight: 200;
}

%relative {
  position: relative;
}

%uppercased {
  text-transform: uppercase;
}
