@import "mixins";
@import "helpers";

.promoted-books {

  &__heading {
    @extend %uppercased;

    font-size: 1.25rem; // 20px
    margin: 0;

    @include screen-big {
      margin: 0 auto;
      width: 1000px;
    }
  }

  &__tiles {
    @extend %flex;

    flex-direction: column;
    justify-content: space-between;

    @include screen-big {
      flex-direction: row;
      margin: 0 auto;
      width: 1000px;
    }
  }

}
